    main{
        background: linear-gradient(-90deg, #3b3f2b, #266353); /* Fondo general */
    }
  .encabezado {
    margin: 35px 0;
    text-align: center;
  }
  
  .encabezado a {
    text-decoration: none;
    color: rgb(196, 233, 233);
    font-size: 32px;
  }
  
  .encabezado a span {
    text-decoration: underline;
    font-weight: bold;
  }
  
  .resenas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .tarjeta-resena {
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 250px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .tarjeta-resena .estrellas {
    color: #ffcc00;
  }
  
  .tarjeta-resena .finca {
    font-weight: bold;
    margin: 10px 0;
  }
  
  .tarjeta-resena .notas {
    color: #666;
    margin-bottom: 10px;
  }
  
  .tarjeta-resena .resenador {
    display: flex;
    align-items: center;
  }
  
  .tarjeta-resena .resenador img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  
  .tarjeta-resena .nombre {
    font-weight: bold;
  }
  
  .tarjeta-resena .fecha {
    color: #999;
  }
  
  .icono-whatsapp {
    position: absolute;
    margin-top: 5%;
    top: 20px;
    right: 20px;
    font-size: 24px;
    color: black;
  }
  