:root {
    --primary-color: #0a0a0afd;
    --secondary-color: #00AEEF;
    --terciary-color: #032009;
    --button-bg-color: #85854f;
    --footer-bg-color: #17ad377a;
    --text-color: white;
}

body {
    justify-content: center; /* Centra verticalmente el contenido */
    align-items: center; /* Centra horizontalmente el contenido */
    margin: 0;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    height: 100vh;
    width: 100%;
    min-width: 920px;
}

.header {
    background-color: var(--primary-color);
    padding: 10px 20px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 45px;
    gap: 1%;
    box-sizing: border-box;
    text-align:center;
    border-radius: 7px;
    margin: 0;

}

.logo {
    height: 30px;
    border-radius: 50%;
    margin-left: -10px;
    margin-top: 5px;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    padding: 4px 9px;
    border: none;
    cursor: pointer;
    height: 70%;
    width: 15%;
    margin-right: 20px;
    min-width: 20%;
}

.search-bar input {
    border: none;
    outline: none;
    width: 100%;
    padding: 3px;
}

.nav-links a, .footer p {
    color: var(--text-color);
    margin: 0;
    text-decoration: none;
    width: 100%;
}

.nav-links {
    display: flex;
    justify-items: center;
    align-items: center;
    font-size: 1rem;
    margin: 0;
    align-items: self-end;
    width: 100%;

}
.nav {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: var(--primary-color); /* Color inicial */
    text-decoration: none; /* Elimina el subrayado */
    padding: 3% 6%; /* Espacio alrededor de los enlaces */
    transition: color 0.3s ease; /* Suaviza el cambio de color */
    white-space: nowrap;
}

.nav:hover {
color: rgb(207, 30, 30);
}
.nav-buttons {
    gap: 15px;
    justify-content:right;
    width: 100%;
    display: flex;
    margin: 0;
    border: none;
    margin-left: 6%;    
}
.iniciar, .registrar {
    border: none;
    border-radius: 10px;
    height: 20px;
    display: inline-block;
    width: 80px;
    cursor: pointer;
}
.iniciar:hover {
    background-color: #926d06e7;
}
.registrar:hover {
    background-color: #926d06e7;
    
}

.titulo {
    display: flex;
    margin: auto; /* Elimina el margen predeterminado */
    padding: 70px -10%; /* Agrega algo de espacio interno */
    color: #ffffff;
    font-size: 2.7rem; /* Ajusta el tamaño de la fuente según sea necesario */
    position: absolute;
    z-index: 1; /* Asegura que el título quede por encima de otros elementos */
    font-family:'Times New Roman', Times, serif; /* Nueva fuente solo para los botones */
    align-items: center;
    transform: translate(-50%, 0);
    left: 50%;
    text-align: center;
    margin-top: 90px;
    
}
.buttons-container {
    display: flex;
    flex-wrap: wrap; /* Permite que los botones se ajusten a la siguiente fila */
    justify-content: center; /* Centra los botones horizontalmente */
    gap: 40px; /* Espacio entre los botones */
    margin-top: 60px; /* Espacio entre los botones y el título */

}
.buttons-container button {
    flex: 1 1 calc(33.33% - 30px);
    background-color: #d3d330e3;
    border: transparent;
    border-radius: 20px;
    padding: 3% 5%;
    font-size: 22px;
    text-align: center;
    cursor: pointer;
    transition: background 0.4s;
    max-width: 300px;
    text-decoration: underline;
}

.buttons-container button:hover {
    background-color: rgb(161, 252, 252); /* Efecto al pasar el mouse */
}
.footer {
    background: linear-gradient(-90deg, #3b3f2b, #266353); /* Fondo general */
    display: flex; /* Activa Flexbox */
    justify-content: center;
    flex-direction: column;
    align-items: center; /* Alinea verticalmente los elementos */
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    border-radius: 5px;
}
.footer .social-icons i {
    margin: 0 10px;
    cursor: pointer;
}

.footer .social-icons {
    display: flex; /* Activa CSS Grid */
    justify-items: center; /* Centra horizontalmente los íconos */
    align-items: center; /* Centra verticalmente */
    font-size: 1.6rem; /* Tamaño de los íconos */
}
.footer .parrafo {
    flex: 1; /* Ocupa espacio proporcional */
    text-align: center; /* Alinea el texto a la izquierda */
    font-size: 0.8rem;
    color: #eef1ea;
    line-height: 1.5;
    margin-top: 10px;
}
.social-icons a {
    width: 100%; /* Cada ícono ocupa la mitad del ancho */
    display: flex; /* Activa flex para centrar cada ícono */
    justify-content: center; /* Centra horizontalmente el ícono */
    color: #12055c; /* Color inicial de los íconos */
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-icons i:hover {
    color: var(--secondary-color);
}

/* Media queries para reducir el tamaño del texto */
@media (max-width: 1200px) {
    .titulo, .buttons-container {
        font-size: 2rem;
    }
}

@media (max-width: 850px) {
    .titulo, .buttons-container {
        font-size: 1.6rem;
    }
}

@media (max-width: 663px) {
    .titulo, .buttons-container {
        font-size: 1.3rem;
    }
}

@media (max-width: 420px) {
    .titulo, .buttons-container {
        font-size: 1.1rem;
    }

    .social-icons, .parrafo {
        width: 100%; /* Ocupa el ancho completo */
        text-align: center; /* Centra el contenido */
        gap: 3%;
    }

}