body {
  background: linear-gradient(-90deg, #3b3f2b, #266353); /* Fondo general */
  width: 100%;
} 

/* Contenedor principal */
.container {
  padding: 10px 10px;
  margin: 0px;
  width: 100%; /* Ajustar al 90% para centrado */
  min-width: 80%;
  max-width: 200%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: auto;
  margin-right: 20%;
  background: linear-gradient(-90deg, #3b3f2b, #266353); /* Fondo general */

}
.zona h1 {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
  background-color: #3c3c3c;
}

/* Grid de tarjetas */
.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Ajuste dinámico de columnas */
  gap: 15px;
  margin-top: 5px;
  width: 100%;
  min-width: 661px;
  box-sizing: border-box; /* Asegura que el padding no rompa el diseño */
  padding: 10px 10px;
  justify-content: space-between;
}

/* Tarjetas */
.card {
  background-color: #f8fff8;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
  margin-top: 20px;
}

.card:hover {
  transform: scale(1.05);
}

/* Imagen de la tarjeta */
.card-img {
  width: 100%;
  height: 200px; /* Ajuste de la altura */
  object-fit: cover;
}

/* Contenido de la tarjeta */
.card-content {
  padding: 10px;
  margin-top: -20px;
}

.card-title {
  font-size: 1.2rem; /* Reducimos un poco para mejor proporción */
  margin-bottom: 10px;
  color: #1c1c1c;
}

.card-text {
  font-size: 0.9rem; /* Ajuste para texto */
  line-height: 1.5;
  color: #3c3c3c;
}

/* Ícono de WhatsApp */
.whatsapp-icon {
  position: fixed;
  top: 80px;
  bottom: 20px;
  right: 10px;
  background-color: #080808;
  color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
.whatsapp-icon:hover {
  transform: scale(1.20);
}

.whatsapp-icon i {
  font-size: 1.5rem;
}
@media (max-width: 768px) {
  .card-grid {
      grid-template-columns: repeat(2, 1fr); /* 2 columnas en pantallas medianas */
      width: 85%;
      transition: transform 0.2s ease-in-out;
    }
}
@media (max-width: 480px) {
  .card-grid {  
    grid-template-columns: 1fr; /* 1 columna en pantallas pequeñas */
    width: 85%;
    transition: transform 0.2s ease-in-out;
  }
}


  